{% extends 'base.html' %}

{% block title %}Patients Details - Doctor Dashboard{% endblock %}

{% block content %}
<h1>{{ patient.name }}'s Details</h1>
<p>Age: {{ patient.age }}</p>

<h2>Procedures</h2>
<ul>
  <li>
      Procedure: {{ procedure.procedure_type|default:"No recorded procedure" }}
    </li>
    <li>
      Date: {% if procedure.date %}{{ procedure.date }}{% else %}No recorded date{% endif %}
    </li>
    <li>
      Notes: {{ procedure.notes|default:"No recorded notes" }}
    </li>
    <hr>
</ul>
  <p>Images:</p>
  <ul>
    {% for image in patient.images.all %}
      <li>
        <img src="{{ image.image.url }}" alt="Image {{ forloop.counter }}">
      </li>
    {% empty %}
      <li>No images uploaded.</li>
    {% endfor %}
  </ul>

<p><a href="{% url 'patient_manager:upload_image' patient.name %}">Upload Photos</a></p>

<br>
<a href="{% url 'patient_manager:edit_patient' patient.name %}">Edit Patient Information</a>
<br>
<a href="{% url 'patient_manager:delete_patient' patient.name %}">Delete Patient Record</a>

{% endblock %}
