{% extends 'base.html' %}

{% block title %}Patients - Doctor Dashboard{% endblock %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Patient List</h1>
    <p>This is the patient page.</p>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Contact Number</th>
        </tr>
        {% for x in patient %}
            <tr style="cursor: pointer;" onclick="window.location.href = '{% url 'patient_manager:patient_details' x.name %}';">
                <td>{{ x.name }}</td>
                <td>{{ x.age }}</td>
                <td>{{ x.sex }}</td>
                <td>{{ x.contact_number }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
