{% extends 'base.html' %}
{% load static %}

{% block title %}Patients Details - Doctor Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/patient_details.css' %}">

<div class="patient-details">

  <h1>{{ patient.name }}'s Details</h1>

  <div class="patient-info">
    <h3>Basic Info</h3>
    <ul>
      <li><span>Age:</span> {{ patient.age }}</li>
    </ul>
  </div>

<h2>Procedures</h2>
<ul>
  <li>
      Procedure: {{ procedure.procedure_type|default:"No recorded procedure" }}
    </li>
    <li>
      Date: {% if procedure.date %}{{ procedure.date }}{% else %}No recorded date{% endif %}
    </li>
    <li>
      Notes: {{ procedure.notes|default:"No recorded notes" }}
    </li>
    <hr>
</ul>
  <p>Images:</p>
  <ul>
    {% for image in patient.images.all %}
      <li>
        <img src="{{ image.image.url }}" alt="Image {{ forloop.counter }}">
      </li>
    {% empty %}
      <li>No images uploaded.</li>
    {% endfor %}
  </ul>

<p>Annotated Images:</p>
<ul>
  {% for image in patient.images.all %}
    {% if image.annotated_image %}
      <li>
        <img src="{{ image.annotated_image.url }}" alt="Annotated Image {{ forloop.counter }}">
      </li>
    {% endif %}
  {% empty %}
    <li>No annotated images available.</li>
  {% endfor %}
</ul>

<p>
  <p><strong>Total Bill:</strong> {{ total_cost }} pesos</p> 
  <a href="{% url 'patient_manager:upload_image' patient.name %}">Upload Photos</a>
  <a href="{% url 'patient_manager:download_patient_details' patient.name %}">Download Details</a>
</p>

  <br>
  <a href="{% url 'patient_manager:edit_patient' patient.name %}">Edit Patient Information</a>
  <br>
  <a href="{% url 'patient_manager:delete_patient' patient.name %}">Delete Patient Record</a>

</div>
{% endblock %}
